{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{ _('Registered users') }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ _('Nickname') }}</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users|sort(attribute="nickname") %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/admin/user/{{ user.id }}/">{{ user.nickname }}</a></td>
            <td>{{ user.email }}</td>
            <td>
                <a href="/admin/user/{{ user.id }}/"><i class="glyphicon glyphicon-user" title="{{ _('View this user') }}<"></i></a>
                <a href="/admin/edit_user/{{ user.id }}/"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this user') }}"></i></a>
                <a href="/admin/delete_user/{{ user.id }}/"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this user') }}" onclick="return confirm('{{ _('You are going to delete this account.') }}');"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="/admin/create_user/" class="btn btn-default">{{ _('Add a new user') }}</a>
<br /><br />
<p class="text-info">{{ _('As an administrator you are not listed in this table') }}.</p>
</div>
{% endblock %}