{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Internal Server Error</h1>
        <p>Something bad just happened! Go to the <a href="{{ url_for('home') }}">home page</a>.</p>
    </div>
</div>
{% endblock %}
