<p>Hello {{ user.firstname }} {{ user.lastname }},</p>

<p>An account has been created for you.
You can now access the <a href="{{ platform_url }}">pyAggr3g470r platform</a>.
Your login is your e-mail address and your password is:</p>

<p><b>{{ password }}</b></p>

<p>Regards,</p>