{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <p>{{ _('This software is under AGPLv3 license. You are welcome to copy, modify or
        redistribute the <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r/">source code</a>
        according to the <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a> license.') }}</p>
    </div>
</div><!-- /.container -->
{% endblock %}
