{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2><a href="{{ feed.site_link }}">{{ feed.title|safe }}</a></h2>
        <a href="/feed/{{ feed.id }}"><i class="glyphicon glyphicon-info-sign" title="Details"></i></a>
        <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="Edit this feed"></i></a>
        {% if nb_articles == 10**9 %}
            <h3>{{ feed.articles.all()|count  }} articles.</h3>
        {% else %}
            <h3>Last {{ feed.articles.all()|count }} articles. See <a href="/articles/{{ feed.id }}">all articles</a>.</h3>
        {% endif %}
    </div>
    {% if feed.articles.all()|count == 0  %}
        <h1>No articles.</h1>
    {% else %}
        {% for number in range(0, feed.articles.all()|length-(feed.articles.all()|length % 3), 3) %}
            <div class="row">
                {% for n in range(number, number+3) %}
                <div class="col-xs-6 col-sm-4 col-md-4">
                    {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                        <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                    {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                    <h6>{{ feed.articles[n].date }}</h6>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if feed.articles.all()|length % 3 != 0 %}
            <div class="row">
                 {% for n in range(feed.articles.all()|length-(feed.articles.all()|length % 3), feed.articles.all()|length) %}
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                            <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                        {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                        <h6>{{ feed.articles[n].date }}</h6>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div><!-- /.container -->
{% endblock %}
