{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('You are subscribed to') }} {{ feeds.all()|count }} {{ _('feeds') }} &middot; {{ _('Add a') }} <a href="/create_feed/">{{ _('feed') }}</a></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Site') }}</th>
                    <th>{{ _('Articles') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds|sort(attribute="title") %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if feed.enabled  %}
                            <i class="glyphicon glyphicon-eye-open" title="{{ _('Feed enabled') }}"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-eye-close" title="{{ _('Feed disabled') }}"></i>
                        {% endif %}
                    </td>
                    <td><a href="/feed/{{ feed.id }}" {% if feed.description %}title="{{ feed.description  }}"{% endif %}>{{ feed.title }}</a></td>
                    <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
                    <td>{{ feed.articles.all()|count }}</td>
                    <td>
                        <a href="/articles/{{ feed.id }}/100"><i class="glyphicon glyphicon-th-list" title="{{ _('Articles') }}"></i></a>
                        <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                        <a href="/delete_feed/{{ feed.id }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div><!-- /.container -->
{% endblock %}
