 {% extends "layout.html" %}
{% block content %}
<div class="container">
    {% if result|count == 0 %}
        <h1>{{ _('You are not subscribed to any feed.') }} <a href="/create_feed/">{{ _('Fix this.') }}</a></h1>
    {% else %}
        {% for feed in result|sort(attribute="title") %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <h1>{{ feed.title|safe }}</h1>
                <a href="/articles/{{ feed.id }}/100"><i class="glyphicon glyphicon-th-list" title="{{ _('More articles') }}"></i></a>
                <a href="/feed/{{ feed.id }}"><i class="glyphicon glyphicon-info-sign" title="{{ _('Details') }}"></i></a>
                <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                {% if feed.enabled %}
                    <a href="/fetch/{{ feed.id }}"><i class="glyphicon glyphicon-cloud-download" title="{{ _('Fetch this feed') }}"></i></a>
                {% endif %}
                <a href="/mark_as_read/{{ feed.id }}"><i class="glyphicon glyphicon-check" title="{{ _('Mark all as read') }}"></i></a>
                </div>
            </div>
            {% for number in range(0, feed.articles.all()|count-(feed.articles.all()|count % 3), 3) %}
                <div class="row">
                    {% for n in range(number, number+3) %}
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                            <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                        {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                        <h6>{{ feed.articles[n].date | datetime }}</h6>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if feed.articles.all()|count % 3 != 0 %}
                <div class="row">
                    {% for n in range(feed.articles.all()|count-(feed.articles.all()|count % 3), feed.articles.all()|count) %}
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                                <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                            {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                            <h6>{{ feed.articles[n].date | datetime }}</h6>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div><!-- /.container -->
{% endblock %}
